@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

.container-fluid {
  .row {
    .pagewrapper {
      background: url("/assets/images/home-banner/homepage-banner3.jpg") left top no-repeat;
      background-size: 100% 100%;
      height: 760px;
      width: 100%;

      .sectionwrapper {
        position: absolute;
        height: 100%;
        width: 93%;
        top: 0;
        border-right: 1px solid rgba(255, 255, 255, .5);
        display: flex;

        .left-container {
          background: url("/assets/images/home-banner/homepage3.jpeg") left top no-repeat;
          background-size: 100% 100%;
          height: 760px;
          width: 100%;
          position: relative;

          .bottom-box2 {
            position: absolute;
            bottom: 100px;
            right: 1rem;
            width: 50%;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: right;

            .text1 {
              color: #ffffff;
              font-family: Poppins;
              font-size: 26px;
              font-weight: bolder;
              margin: 0;
              padding: 0;
              position: relative;
              top: -30px;
            }

            .counter {
              margin: 0;
              color: #FFFFFF;
              font-family: Oswald;
              font-weight: bold;
              font-size: 145px;
              padding: 0;
              line-height: 97px;
            }

            .text-2 {
              color: #FFFFFF;
              @include headerfontoswaldBold;
              font-size: 29px;
              margin: 0;
              padding: 0;
              position: relative;
              top: 42px;
              font-weight: normal;
            }
          }
        }

        .right-container {
          .bottom-box2 {
            position: absolute;
            bottom: 100px;
            left: 0.5rem;
            width: 50%;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: left;

            .counter {
              margin: 0;
              color: #E1E1E1;
              @include headerfontoswaldBold;
              font-size: 145px;
              padding: 0;
              line-height: 97px;
            }

            .text-2 {
              color: #e1e1e1;
              font-family: Oswald;
              font-size: 29px;
              margin: 0;
              padding: 0;
              position: relative;
              top: 40px;
            }
          }

          .textcontainer {
            position: absolute;
            top: 79px;

            .selector {
              color: #FA9400;
              font-family: Oswald;
              font-weight: 500;
              line-height: 64px;
              width: 488px;
              text-align: left;
              margin: 0;
              font-size: 60px;
            }

            .subtext {
              color: black;
              font-family: Lato;
              text-align: left;
              float: left;
              width: 85%;
              font-weight: bolder;
              margin-top: 47px;
              font-size: 26px;
            }

            .bodytext {
              color: #484848;
              font-family: Lato;
              font-size: 18px;
              width: 72%;
              text-align: left;
              float: left;
              margin-top: 1rem;
              font-weight: normal;
            }
          }
        }
      }
    }


    .hrLines {
      position: absolute;
      width: 100%;

      .hr1 {
        background: rgba(255, 255, 255, .5);
        top: 131px;
        position: relative;

      }

      .hr2 {
        background: rgba(255, 255, 255, .5);
        top: 622px;
        position: relative;
      }


      .hr3 {
        background: rgba(255, 255, 255, .5);
        position: relative;
        transform: rotate(90deg);
        left: 544px;
        right: auto;
      }

      .hr4 {
        background: rgba(255, 255, 255, .5);
        top: 425px;
        position: relative;
      }
    }
  }
}

::ng-deep {
  .line {
    stroke: black !important;
  }

  #fp-nav ul li a span {
    background: #000000 !important;
    border: 3px solid #000000 !important;
  }

  #section10 {
    a {
      span {
        border: 2px solid #000000 !important;
      }
    }
  }

  #section10 {
    a {
      span::before {
        background-color: #000000 !important;
      }
    }
  }
}

