<div class="container-fluid">
  <div class="row">
    <div class="pagewrapper">
      <div class="sectionwrapper">
        <div class="col-lg-6 col-md-16 col-sm-12 left-container">
          <div class="bottom-box2">
            <p class="text1">On -Boarded</p>
            <span class="counter">145</span>
            <p class="text-2">ASSET CLASS</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-16 col-sm-12 right-container">
          <div class="right-containerwrapper">
            <div class="textcontainer">
              <p class="selector">Cross-Fleet Monitoring Capability</p>
              <span class="subtext">Retrofit of Aged Assets with Proprietary Edge Device</span>
              <span class="bodytext">Our Platform is prepopulated with the most used Asset Class ranging from Heavy Equipment like 250 Tons Dumpers, Large Dragline used in surface mining to complete range of equipment's used for Road Construction. We specialized in cold chain monitoring for food processing to Pharma company.</span>
            </div>
            <div class="bottom-box2">
              <span class="counter">1500</span>
              <p class="text-2">ASSET CLASS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hrLines">
      <hr class="hrLine hr1"/>
      <hr class="hrLine hr2"/>
      <hr class="hrLine hr3"/>
      <hr class="hrLine hr4"/>
    </div>
  </div>
</div>
