@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

.container-fluid {
  .row {
    .pagewrapper {
      height: 760px;
      width: 100%;
      display: flex;

      .left-container{
        background-color: #000E17;
        margin: 0;
        padding: 0;
        height: 760px;

        .heading{
          font-family: Oswald;
          font-weight: bold;
          font-size: 60px;
          color: #FA9400;
          margin: 0;
          padding: 0;
          text-align: left;
          position: absolute;
          top: 120px;
          left: 80px;
        }

        .subheading{
          font-family: Oswald;
          font-weight: bold;
          font-size: 35px;
          color: #FFFFFF;
          margin: 0;
          padding: 0;
          text-align: left;
          position: absolute;
          top: 199px;
          left: 82px;
          line-height: 50px;

          span{
            color: #0973f0;
          }
        }

        .text{
          .text1{
            font-family: Lato;
            font-size: 20px;
            font-weight: lighter;
            text-align: left;
            margin: 0;
            color: #FFFFFF;
            position: absolute;
            top: 326px;
            left: 85px;
          }

          .text2{
            font-family: Lato;
            font-size: 20px;
            font-weight: normal;
            text-align: left;
            margin: 0;
            color: #FFFFFF;
            position: absolute;
            top: 370px;
            left: 85px;
            line-height: 20px;
          }

          .text3{
            font-family: Lato;
            font-size: 17px;
            font-weight: normal;
            text-align: left;
            margin: 0;
            color: #FA9400;
            position: absolute;
            top: 414px;
            left: 85px;
            line-height: 20px;
          }

          .text4{
            font-family: Lato;
            font-size: 17px;
            font-weight: lighter;
            text-align: left;
            margin: 0;
            color: #FFFFFF;
            position: absolute;
            top: 474px;
            left: 85px;
            line-height: 20px;
          }
        }
      }

      .right-container{
        background: url("/assets/images/home-banner/section9banner.png") left top no-repeat;
        background-size: 100% 100%;

        .image{
          height: 261px;
          width: 381px;
          background: url("/assets/images/home-banner/section9image.png");
          position: absolute;
          top: 305px;
          left: 280px;
        }

        .controller{
          position: absolute;
          top: 566px;
          left: 280px;
          width: 72px;
          height: 72px;
          background-color: #FFFFFF;
          text-align: center;

          img{
            width: 21px;
            height: 20px;
            text-align: center;
          }
        }

        .subheading{
          font-family: Oswald;
          margin: 0;
          padding: 0;
          text-align: left;
          font-size: 16px;
          font-weight: bold;
          position: absolute;
          top: 577px;
          left: 368px;
          width: 197px;
          color: #FFFFFF;
        }

        .subtext{
          font-family: Oswald;
          font-weight: normal;
          font-size: 12px;
          position: absolute;
          top: 592px;
          left: 552px;
          width: 49px;
          color: #FFFFFF;
        }
      }

      .hrLines {
        position: absolute;
        width: 100%;

        .hr1{
          background: rgba(255, 255, 255, .5);
          top: 288px;
          position: relative;
        }

        .hr2{
          background: rgba(255, 255, 255, .5);
          transform: rotate(90deg);
          position: relative;
          left: 152px;
        }

        .hr3{
          background: rgba(255, 255, 255, .5);
          top: 516px;
          position: relative;
        }

        .hr4{
          background: rgba(255, 255, 255, .5);
          transform: rotate(90deg);
          position: relative;
          left: 532px;
        }

        .hr5{
          background: rgba(255, 255, 255, .5);
          top: 554px;
          position: relative;
        }
      }
    }
  }
}
