<div class="container-fluid">
  <div class="row ">
    <div class="pagewrapper">

          <div class="col-lg-5 col-md-16 col-sm-12 left-container">
            <div class="heading">
              Customer Story
            </div>
            <div class="subheading">
              World Largest <span>Sapphire Mines</span><br/> in Australia
            </div>
            <div class="text">
              <div class="text1">
                Automated Production and trip count
              </div>
              <div class="text2">
                Heavy Equipment Monitored like HD-785,Dozer,<br/> Excavator
              </div>
              <div class="text3">
                Operational Excellence by digitizing pre-startup checkup<br/> on Cognecto Platform
              </div>
              <div class="text4">
                Site fully integrated with drone deploy providing real time site<br/> progress and equipment movement on One platform
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-16 col-sm-12 right-container">
            <div class="image">

            </div>
            <div class="controller">
              <img src="./assets/icons/playorange.png" class="img-fluid" alt="">
            </div>
            <div class="subheading">
              <p>VIDEO ABOUT INTELLIGENT EDGE DEVICE</p>
            </div>
            <div class="subtext">
              <p>1.20 MINS</p>
            </div>
          </div>

      <div class="hrLines">
        <hr class="hrLine hr1"/>
        <hr class="hrLine hr2"/>
        <hr class="hrLine hr3"/>
        <hr class="hrLine hr4"/>
        <hr class="hrLine hr5"/>
      </div>
    </div>
  </div>
</div>
>
