@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

.container-fluid {
  .row {
    .pagewrapper {
      background: url("/assets/images/home-banner/homepage-banner4_.jpg") left top no-repeat;
      background-size: 100% 100%;
      height: 760px;
      width: 100%;

      .sectionwrapper {
        position: absolute;
        height: 90%;
        width: 93%;
        top: 90px;

        .top-container {
          position: relative;
          top: 26px;

          .containerClock {
            width: 344px;
            height: 162px;
            position: relative;
            left: 67.6%;
            border-left: 2px solid white;
          }

        }

        .bottom-container {
          position: absolute;
          bottom: 70px;
          left: 3rem;

          .text1 {
            font-family: Oswald;
            font-weight: 500;
            color: #FA9400;
            margin: 0;
            text-align: left;
            font-size: 85px;
            line-height: 137px;

            span {
              color: white;
            }
          }

          .text2 {
            @include headerfontoswaldBold;
            color: #FFFFFF;
            margin: 0;
            text-align: left;
            font-size: 63px;
            line-height: 65px;
          }

          .text3 {
            font-family: 'LATO';
            color: #FFFFFF;
            margin: 0;
            text-align: left;
            font-size: 36px;
            line-height: 60px;
            font-weight: normal;
          }
        }
      }
    }

    .hrLines {
      position: absolute;
      width: 100%;

      .hr1 {
        background: rgba(255, 255, 255, .5);
        top: 96px;
        position: relative;

      }

      .hr2 {
        background: rgba(255, 255, 255, .5);
        top: 248px;
        position: relative;
      }


      .hr3 {
        background: rgba(255, 255, 255, .5);
        position: relative;
        transform: rotate(90deg);
        left: 543px;
      }

      .hr4 {
        background: rgba(255, 255, 255, .5);
        top: 586px;
        position: relative;
      }
    }
  }
}

::ng-deep {
  .line {
    stroke: white !important;
  }

  #fp-nav ul li a span {
    background: #ffffff !important;
    border: 3px solid #ffffff !important;
  }

  #section10 a span {
    border: 2px solid #ffffff !important;
  }

  #section10 a span::before {
    background-color: #fff !important;
  }
}
