<div class="container-fluid">
  <div class="row">
    <div class="pagewrapper">
      <div class="sectionwrapper">
        <div class="col-lg-12 col-md-12 col-sm-12 top-container">
          <div class="containerClock">

          </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 bottom-container">
          <p class="text1">Proven technology <span>with</span></p>
          <p class="text2">Global Installation</p>
          <p class="text3">Remotely Installed from Australia to West Africa.</p>
        </div>
      </div>
    </div>
    <div class="hrLines">
      <hr class="hrLine hr1"/>
      <hr class="hrLine hr2"/>
      <hr class="hrLine hr3"/>
      <hr class="hrLine hr4"/>
    </div>
  </div>
</div>
