@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

.container-fluid {
  .row {
    background-color: #000E17;

    .pageWrapper {
      background: url("/assets/images/home-banner/section7banner.png") left top no-repeat;
      background-size: 100%;
      height: 760px;
      width: 640px;
    }

    .topTextContainer {
      width: 472px;
      text-align: left;
      padding: 80px 0 0 0;
      line-height: 56px;

      .topText {
        color: #FA9400;
        font-family: Oswald;
        font-size: 50px;
        width: 472px;
        text-align: left;
        font-weight: 600;
      }
    }

    .borderAll {
      height: 266px;
      padding: 0;

      .blackBox {
        padding: 40px 25px;
        margin: 0 2px 0px 0;

        .leftText {
          color: #FFFFFF;
          font-family: Lato;
          font-size: 18px;
          line-height: 28px;
          text-align: left;
          margin: 0;
          width: 202px;
          height: 154px;
        }
      }

      .bglightBlue {
        position: absolute;
        top: 245px;
        left: -145px;

        .rightText {
          color: #0973f0;
          font-family: Lato;
          font-size: 30px;
          font-weight: bold;
          line-height: 37px;
          text-align: right;
          margin: 0;
          height: 154px;
          margin: 19px 0;
        }
      }
      .image{
        position: absolute;
        top: 247px;
        left: 720px;
        width: 39px;
        height: 39px;
      }

    }

    .hrLines {
      position: absolute;
      width: 100%;

      .hr1 {
        background: #83B0D1;
        top: 249px;
        position: relative;

      }
      .hr2 {
        background: #727272;
        top: 460px;
        position: relative;
      }
    }
  }
}


@-webkit-keyframes backInUp {
  0% {
    -webkit-transform: translateY(1200px) scale(.7);
    transform: translateY(1200px) scale(.7);
    opacity: .7
  }
  80% {
    -webkit-transform: translateY(0) scale(.7);
    transform: translateY(0) scale(.7);
    opacity: .7
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

@keyframes backInUp {
  0% {
    -webkit-transform: translateY(1200px) scale(.7);
    transform: translateY(1200px) scale(.7);
    opacity: .7
  }
  80% {
    -webkit-transform: translateY(0) scale(.7);
    transform: translateY(0) scale(.7);
    opacity: .7
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

.animate__backInUp {
  -webkit-animation-name: backInUp;
  animation-name: backInUp
}
