<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 p-0">
      <div class="pageWrapper"></div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 p-0">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="topTextContainer">
          <span class="topText">AI Platform <br/>with Cross Industry <br/>Use Cases</span>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 d-flex borderAll">
        <div class="col-lg-6 col-md-6 col-sm-6 blackBox">
          <p class="leftText">
            Trip Count <br/>Distance and Hour Run <br/>Fuel Usage <br/>Pre-Start Checkup <br/>Drone Integration <br/>Smart Allocation
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
          <div class="bglightBlue">
            <p class="rightText">MINING <br>MATERIAL HANDLING <br/>LOGISTICS <br/>HIGHWAY CONSTRUCTIONS</p>
          </div>
        </div>
        <div class="image">
          <img src="./assets/icons/plus.png" class="img-fluid" alt="">
        </div>
        <hr class="vertical"/>
      </div>
    </div>
    <div class="hrLines">
      <hr class="hrLine hr1"/>
      <hr class="hrLine hr2"/>
    </div>
  </div>
</div>
