<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 posAbs sticky-navbar">
      <div class="col-lg-2 col-md-2 col-sm-2 logosmall-png-1">
        <img src="../../assets/images/navbar/logosmall.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 w-100">
        <div class="menuList">
          <ul class="d-flex align-item-center justify-content-center">
            <li>HOME</li>
            <li>PRODUCTS</li>
            <li>INDUSTRY</li>
            <li>CUSTOMER</li>
            <li>RESOURCE</li>
            <li>ABOUT US</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 flexPos">
        <div class="buttonwrapper">
          <div class="wrapper-menu">
            <button class="menu"
                    aria-label="Main Menu"
                    (click)="openMenu($event)" [class.opened]="isActive">
              <svg width="70" height="70" viewBox="0 0 100 100">
                <path class="line line1"
                      d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"/>
                <path class="line line2" d="M 20,50 H 80"/>
                <path class="line line3"
                      d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
