@import '../../assets/sass/mixins';
@import '../../assets/sass/variables';

.posAbs {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;

  &.sticky-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .logosmall-png-1 {
      width: 170px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .menuList {
      color: white;
      left: 1500px;
      position: relative;

      ul {
        margin: 0;

        li {
          list-style: none;
          width: auto;
          padding: 0px 20px;
          cursor: pointer;
        }
      }
    }

    .flexPos {
      display: flex;
      align-items: center;
      justify-content: end;
      position: relative;
      right: 20px;

      .buttonwrapper {
        width: 70px;
        height: 70px;
        cursor: pointer;
        padding: 6px 0;

        .menu {
          background-color: transparent;
          border: none;
          cursor: pointer;
          display: flex;
          padding: 0;
        }

        .line {
          fill: none;
          stroke: #fff;
          stroke-width: 6;
          transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .line1 {
          stroke-dasharray: 60 207;
          stroke-width: 6;
        }

        .line2 {
          stroke-dasharray: 38 60;
          stroke-width: 6;
        }

        .line3 {
          stroke-dasharray: 60 207;
          stroke-width: 6;
        }

        .opened .line1 {
          stroke-dasharray: 90 207;
          stroke-dashoffset: -134;
          stroke-width: 6;
        }

        .opened .line2 {
          stroke-dasharray: 1 60;
          stroke-dashoffset: -30;
          stroke-width: 6;
        }

        .opened .line3 {
          stroke-dasharray: 90 207;
          stroke-dashoffset: -134;
          stroke-width: 6;
        }
      }
    }

    .slideLeft {
      left: 0;
      transition: $animSpeed1;
    }

    .slideRight {
      left: 1500px;
      transition: $animSpeed1;
    }
  }

}
