<div class="container-fluid">
  <div class="row">
    <div class="pagewrapper">
      <div class="sectionwrapper">
        <div class="col-lg-6 col-md-16 col-sm-12 top-container">
          <span class="heading">Sensor Data</span>
        </div>
        <div class="col-lg-6 col-md-16 col-sm-12 middle-container">
          <span class="counter">4,80,00000</span>
        </div>
        <div class="col-lg-6 col-md-16 col-sm-12 bottom-container">
          <span class="bottom-text">Equipment Parameters/Day</span>
        </div>
      </div>
    </div>

    <div class="hrLines">
      <hr class="hrLine hr1"/>
      <hr class="hrLine hr2"/>
      <hr class="hrLine hr3"/>
      <hr class="hrLine hr4"/>
    </div>
  </div>
</div>
