@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

.container-fluid{
  .row{
    .pagewrapper{
      background: url("/assets/images/home-banner/homepage7.jpg") left top no-repeat;
      background-size: 100% 100%;
      height: 822px;
      width: 100%;

      .sectionwrapper{
        position: absolute;
        height: 100%;
        width: 93%;
        top: 0;

        .top-container{

          .heading{
            margin: 0;
            color: #FA9400;
            @include headerfontoswaldBold;
            font-size: 51px;
            line-height: 65px;
            position: absolute;
            top: 180px;
            left: 222px;
          }
        }

        .middle-container{
          .counter{
            margin: 0;
            color: #00A6FF;
            @include headerfontoswaldBold;
            font-size: 200px;
            line-height: 200px;
            position: absolute;
            top: 250px;
            left: 252px;
          }
        }

        .bottom-container{
          .bottom-text{
            margin: 0;
            color: #FFFFFF;
            font-family: Poppins;
            font-size: 26px;
            font-weight: bolder;
            line-height: 33px;
            position: absolute;
            top: 488px;
            left: 860px;
            text-align: left;
            width: 400px;
          }
        }

      }
    }

    .hrLines {
      position: absolute;
      width: 100%;

      .hr1 {
        background: rgba(255, 255, 255, .5);
        top: 232px;
        position: relative;

      }

      .hr3 {
        background: rgba(255, 255, 255, .5);
        position: relative;
        transform: rotate(90deg);
        left: 544px;
        right: auto;
      }

      .hr4 {
        background: rgba(255, 255, 255, .5);
        top: 409px;
        position: relative;
      }
    }
  }
}
