@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

.container-fluid {
  .row {
    .pagewrapper {
      background: url("/assets/images/home-banner/section8banner.png") left top no-repeat;
      background-size: 100% 100%;
      height: 760px;
      width: 100%;

      .sectionwrapper {
        position: absolute;
        height: 90%;
        width: 100%;
        top: 90px;

        .borderTop {
          position: relative;
          top: 190px;
          padding: 0 39px !important;

          .headingText {
            color: #FA9400;
            font-family: 'Oswald', sans-serif;
            font-size: 51px;
            line-height: 66px;
            text-align: left;
            font-weight: bold;
            top: -145px;
            position: relative;
            left: 50px;
            margin: 0;
          }
        }

        .middleBox {
          border: 1px solid #343F4B;
          display: flex;
          border-left: none;
          border-right: none;
          top: 76px;
          font-weight: bolder;

          .leftText {
            color: #FFFFFF;
            font-family: 'Oswald', sans-serif;
            font-size: 150px;
            line-height: 154px;
            text-align: right;
            margin: 0;
            padding: 113px 0 0 82px;
            font-weight: 700;
          }

          .rightText {
            color: #00A6FF;
            font-family: 'Oswald', sans-serif;
            font-size: 150px;
            line-height: 154px;
            text-align: left;
            margin: 0;
            padding: 113px 0 0 82px;
            font-weight: 700;
          }
        }

        .lastBox {
          display: flex;
          top: 85px;


          .leftText {
            color: #FFFFFF;
            font-family: Helvetica;
            font-size: 22px;
            line-height: 28px;
            width: 248px;
            text-align: right;
          }

          .rightText {
            color: #00A6FF;
            font-family: Helvetica;
            font-size: 22px;
            line-height: 28px;
            text-align: left;
            width: 360px;
            padding: 1px 0px 0 84px;
          }
        }
      }

      .hrLine {
        position: absolute;
        width: 1px;
        background: #343F4B;

        &.hr1 {
          top: 217px;
          left: 564px;
          height: 530px;
        }

        &.hr2 {
          top: -19px;
          left: auto;
          right: 240px;
          height: 760px;
        }
      }
    }

  }
}
