<div class="container-fluid">
  <div class="row ">
    <div class="pagewrapper">
      <div class="sectionwrapper">
        <div class="col-lg-12 col-md-12 col-sm-12 p-0 borderTop">
          <p class="headingText"> Monitoring & Diagnostics Center </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 middleBox">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <p class="leftText">
              150
            </p>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <p class="rightText">
              28,000
            </p>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 lastBox">
          <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-end">
            <p class="leftText">
              Years of Combined experience <br/>in Heavy Industry of founding team
            </p>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <p class="rightText">
              Failure Mode Catalogued for Heavy Equipment's
            </p>
          </div>
        </div>
      </div>
      <div class="hrLines">
        <hr class="hrLine hr1"/>
        <hr class="hrLine hr2"/>
        <hr class="hrLine hr3"/>
      </div>
    </div>
  </div>
</div>
