@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

.container-fluid {
  .row {
    .pagewrapper {
      background: url("/assets/images/home-banner/homepage-banner2.jpg") left top no-repeat;
      background-size: 100% 100%;
      height: 760px;
      width: 100%;

      .sectionwrapper {
        position: absolute;
        height: 90%;
        width: 93%;
        top: 90px;

        .bottom-container {
          position: absolute;
          width: 100%;
          margin: auto;
          top: 0%;
          transform: translate(10px, 0);

          .textcontainer {
            padding: 0;
            text-align: right;
            position: absolute;
            top: 40px;
            left: auto;
            right: 139px;
            display: flex;

            p {
              margin: 0;
              line-height: 23px;
            }

            .lefttextContainer {
              font-size: 19.2px;
              color: #fa9400;
              width: 540px;
              padding: 0 0px 0 0;
              font-family: 'Lato', sans-serif;
              margin: 0 10px 0 0;

              .headText {
                color: white;
                font-size: 29.88px;
                line-height: 38px;
                padding: 0 0px 0 34px;
                margin: 0px 0px 21px 0;
              }
            }

            .righttextContainer {
              span {
                font-family: 'Oswald', sans-serif;
                font-size: 180px;
                font-weight: 600;
                color: #0973f0;
                opacity: 0.4;
                line-height: 128px;
                padding: 0 10px;
              }
            }
          }
        }

        .cardContainer {
          position: absolute;
          top: auto;
          bottom: 118px;
          display: flex;
          align-items: center;
          justify-content: center;

          .textLeft {
            padding: 15px 0;
            height: 164px;
            border-right: 2px solid white;
            margin: 0 0px 0 139px;

            p {
              font-weight: 600;
              font-family: 'Oswald', sans-serif;
              font-size: 60px;
              color: white;
              text-align: right;
              line-height: 66px;
              width: 280px;
              width: 280px;
              margin: -6px 50px;
            }
          }

          .cards {
            display: flex;
            padding: 0;

            .card {
              width: 218px;
              height: 163px;
              border-radius: 0;
              margin: 0 0 0 1px;
              border-right: 1px solid white;

              &.card1 {
                background: url("/assets/images/home-banner/slide01.jpg") left top no-repeat;
              }

              &.card2 {
                background: url("/assets/images/home-banner/slide02.jpg") left top no-repeat;
              }

              &.card3 {
                background: url("/assets/images/home-banner/slide03.jpg") left top no-repeat;
              }

              &.card4 {
                background: url("/assets/images/home-banner/slide04.jpg") left top no-repeat;
              }
            }
          }
        }
      }

    }

    .hrLines {
      position: absolute;
      width: 100%;

      .hr1 {
        background: rgba(255, 255, 255, .5);
        top: 96px;
        position: relative;

      }

      .hr2 {
        background: rgba(255, 255, 255, .5);
        top: 622px;
        position: relative;
      }


      .hr3 {
        background: rgba(255, 255, 255, .5);
        position: relative;
        transform: rotate(90deg);
        left: 544px;
        right: auto;
      }

      .hr4 {
        background: rgba(255, 255, 255, .5);
        top: 425px;
        position: relative;
      }
    }
  }
}

::ng-deep {
  .line {
    stroke: white !important;
  }

  #fp-nav ul li a span {
    background: #ffffff !important;
    border: 3px solid #ffffff !important;
  }

  #section10 a span {
    border: 2px solid #ffffff !important;
  }

  #section10 a span::before {
    background-color: #fff !important;
  }
}
