<div class="container-fluid">
  <div class="row ">
    <div class="pagewrapper">
      <div class="sectionwrapper">
        <div class="col-lg-12 col-md-12 col-sm-12 bottom-container">
          <div class="textcontainer">
            <div class="lefttextContainer">
              <p class="headText">Curated Analytics and Reports that are Specific to an Industry</p>
              <p>Value realization within weeks of implementation through world class on-boarding program. Monitored by
                Industry Experts to enhance value from acquired data.</p>
            </div>
            <div class="righttextContainer">
              <span>
                02
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 cardContainer">
          <div class="textLeft col-lg-3 col-md-3 col-sm-3">
          <p> Industry  We Serve </p>
          </div>
          <div class="cards col-lg-9 col-md-9 col-sm-9">
            <div class="card card1"></div>
            <div class="card card2"></div>
            <div class="card card3"></div>
            <div class="card card4"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="hrLines">
      <hr class="hrLine hr1"/>
      <hr class="hrLine hr2"/>
      <hr class="hrLine hr3"/>
      <hr class="hrLine hr4"/>
    </div>
  </div>

</div>
