<div class="container-fluid">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="sections">
      <router-outlet></router-outlet>
    </div>

    <div id="section10" class="demo" (click)="nextSlide()">
      <a href="#thanks"><span></span></a>
    </div>
  </div>
  <div class="loaderBg">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

</div>

