<div class="container-fluid">
  <div class="row">
    <div class="pagewrapper">
      <div class="sectionwrapper">
        <div class="col-lg-6 col-md-16 col-sm-12 left-container">
          <div class="heading">
            <p>Intellegent Edge Device</p>
          </div>
          <div class="subheading">
            <p>to handle complex use cases</p>
          </div>
          <div class="subtext">
            <p>Intelligent, Reliable and Rugged</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-16 col-sm-12 right-container">
          <div class="image">

          </div>
          <div class="controller">
            <img src="./assets/icons/playorange.png" class="img-fluid" alt="">
          </div>
          <div class="subheading">
            <p>VIDEO ABOUT INTELLIGENT EDGE DEVICE</p>
          </div>
          <div class="subtext">
            <p>1.20 MINS</p>
          </div>
        </div>

        <div class="hrLines">
          <hr class="hrLine hr1"/>
          <hr class="hrLine hr2"/>
          <hr class="hrLine hr3"/>
          <hr class="hrLine hr4"/>
        </div>

      </div>
    </div>
  </div>
</div>
