@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

.container-fluid {
  .row {
    .pagewrapper {
      background: url("/assets/images/home-banner/section5banner.png") left top no-repeat;
      background-size: 100% 100%;
      height: 760px;
      width: 100%;

      .sectionwrapper {
        position: absolute;
        height: 100%;
        width: 93%;
        top: 0;
        border-right: 1px solid rgba(255, 255, 255, .5);
        display: flex;
        color: #FFFFFF;

        .left-container{
          position: absolute;
          top: 344px;
          left: 29px;
          text-align: left;

          .heading{
            font-family: Oswald;
            font-size: 60px;
            font-weight: bold;
            padding: 0;
            margin: 0;
            line-height: 70px;
            color: #FA9400;
            width: 662px;
          }

          .subheading{
            font-family: Oswald;
            font-size: 49px;
            font-weight: bold;
            padding: 0;
            margin: 0;
            line-height: 45px;
          }

          .subtext{
            font-family: Oswald;
            font-size: 49px;
            font-weight: normal;
            padding: 0;
            margin-top: 2rem;
            line-height: 60px;
            color: #0973f0;
          }
        }

        .right-container{
          .image{
            height: 197px;
            width: 350px;
            background: url("/assets/images/home-banner/section5image.png");
            position: absolute;
            top: 290px;
            left: 880px;
          }
          .controller{
            position: absolute;
            top: 487px;
            left: 880px;
            width: 72px;
            height: 72px;
            background-color: #FFFFFF;
            text-align: center;

            img{
              width: 21px;
              height: 20px;
              text-align: center;
            }
          }
          .subheading{
            font-family: Oswald;
            margin: 0;
            padding: 0;
            text-align: left;
            font-size: 16px;
            font-weight: bold;
            position: absolute;
            top: 500px;
            left: 958px;
            width: 197px;
          }

          .subtext{
            font-family: Oswald;
            font-weight: bold;
            font-size: 12px;
            position: absolute;
            top: 515px;
            left: 1150px;
            width: 49px;
          }
        }
      }
    }

    .hrLines {
      position: absolute;
      width: 100%;

      .hr1{
        background: rgba(255, 255, 255, .5);
        top: 471px;
        position: relative;
      }

      .hr2{
        background: rgba(255, 255, 255, .5);
        transform: rotate(90deg);
        position: relative;
        left: 166px;
      }

      .hr3{
        background: rgba(255, 255, 255, .5);
        top: 510px;
        position: relative;
      }
    }
  }
}
