<div class="cog-page-wrapper">
  <div class="cog-padding">
    <div class="container-fluid p-0">
      <div class="heading-txt">
        <div class="cg-heading">
          <span>Remote Monitoring Service in a Box</span>
        </div>
        <div class="cg-desc-txt">
          <span> Daily Operational Enabler , Anywhere Anytime </span>
        </div>
        <div class="cg-para-txt">
          <span class="cg-yellow-txt">Powered by Proprietary Edge Device and AI Platform</span>
          <p class="cg-para-txt">We are laser focused on Heavy Construction Equipment that’s forms the b-a-c-k-b-o-n-e of Material Movement across Industries </p>
        </div>
      </div>

    </div>
    <div class="hrLines">
      <div class="hrLine hr1"></div>
      <div class="hrLine hr2"></div>
      <div class="hrLine hr3"></div>
    </div>
  </div>

</div>
