@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

.cog-page-wrapper {
  background: url("/assets/images/home-banner/home-pageBg.png") left top no-repeat;
  min-width: 1440px;
  width: 100%;
  background-size: 100%;
  height: 100vh;
  background-position: 100% 100%;

  .cog-padding {
    padding: 133px 0px 0 52px;
    z-index: 1;

    .heading-txt {
      width: 100%;
      position: relative;
      text-align: left;

      .cg-heading {
        width: 47%;
        font-family: "Oswald", sans-serif;
        font-weight: 600;
        font-size: 82px;
        position: relative;
        color: white;
        line-height: 99px;
      }

      .cg-desc-txt {
        width: 47%;
        font-family: Lato;
        font-size: 48px;
        color: #00a6ff;
        line-height: 58px;
        padding: 8px 0px;
      }

      .cg-para-txt {
        width: 100%;
        padding: 7px 0px;
        text-align: left;

        .cg-yellow-txt {
          color: #e48701;
          font-family: Lato;
          font-weight: 600;
          font-size: 24px;
        }

        .cg-para-txt {
          font-size: 27px;
          font-family: Lato;
          font-weight: 600;
          color: white;
          width: 58%;
          line-height: 37px;
          text-align: left;
          padding: 0px 1px;
          margin: 0;
        }
      }
    }
  }

  .hrLines {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;

    .hr1 {
      background: white;
      top: 132px;
      position: relative;
      height: 0.7px;
    }

    .hr2 {
      background: white;
      top: 643px;
      position: relative;
      height: 0.7px;
    }

    .hr3 {
      background: white;
      position: relative;
      height: 0.7px;
      left: auto;
      right: -494px;
      transform: rotate(90deg);
    }
  }
}


@media (min-width: 1200px) {
  .hr3 {
    top: 40px;
  }
}
