/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  //font-family: 'Poppins', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;

}
@import "~fullpage.js/dist/fullpage.min.css";
@import "~jquery-ui/themes/base/all.css";
@import "scss/fullpage-navigation";
@import "~bootstrap/scss/bootstrap";
