#fp-nav ul li, .fp-slidesNav ul li {
  height: 25px;
}

#fp-nav ul li .fp-tooltip {
  max-width: none;
  padding: 8px;
  background: #333333;
  top: -5px;
}

#fp-nav ul li a span {
  background: white;
  height: 5px;
  width: 5px;
  margin: 0;
  border: 3px solid #ffffff;
}

#fp-nav ul li a.complete span {
  background: #ffffff;
  height: 32px;
  width: 1px;
  border-radius: 2px;
  margin: 0 0px;
}

#fp-nav ul li a.active span {
  background: #ffffff;
  height: 32px;
  width: 1px;
  border-radius: 2px;
  margin: 0 0px;
}

#fp-nav ul li a.disableBullets span {
  border: 2px solid #dedede;
  pointer-events: none;
  cursor: default;
}

#fp-nav ul li:hover a span {
  margin: 0 0px;
}

#fp-nav ul li .fp-tooltip.fp-right {
  right: -25px;
  padding-right: 50px;
}

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  height: 32px;
  width: 2px;
  margin: 0 0px;
  border-radius: 5px;

}

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
  height: 5px;
  width: 5px;
  margin: 0 0px;
}

#fp-nav ul li, .fp-slidesNav ul li {
  margin: 3px 15px;
}
#fp-nav.fp-right {
  right: 70px;
}
/* carousel settings */
.fp-slidesNav {
  text-align: center;
}

.fp-controlArrow.fp-next {
  right: 95px;
  border-width: 0 3px 3px 0;
  border-color: #fff;
  padding: 18px;
  transform: rotate(-45deg);
}

.fp-controlArrow.fp-prev {
  left: 95px;
  width: 0;
  border-width: 0 3px 3px 0;
  border-color: #fff;
  padding: 18px;
  transform: rotate(135deg);
}

.fp-controlArrow.disableButton {
  border-color: #747480;
  pointer-events: none;
}

.fp-slidesNav ul li a span, .fp-slidesNav ul li:hover a span {
  width: 6px;
  height: 6px;
  margin: 0;
  background: white;
}

.clickbutton.enabled span {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #00a3ae;
}

.clickbutton.active span, .fp-slidesNav ul li:hover a span {
  background-color: #00a3ae;
  border: 2px solid #00a3ae;
}

.clickbutton.disabled span {
  pointer-events: none !important;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #adadad;
}

/* carousel settings End */
