.navTheme-line {
  margin-bottom: 0;
  padding: 0;
  position: fixed;
  top: 50%;
  right: 0;
  width: 180px;
  z-index: 300;
  opacity: 0;
  text-align: right;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: right 0.3s, -webkit-transform 0.2s;
  transition: right 0.3s, -webkit-transform 0.2s;
  transition: right 0.3s, transform 0.2s;
  transition: right 0.3s, transform 0.2s, -webkit-transform 0.2s;
  margin-top: 0px !important;
}
.navTheme-line.initialized {
  -webkit-animation: fade 0.7s linear 1.5s forwards, inPageNavToRight 0.3s linear 4s forwards;
  animation: fade 0.7s linear 1.5s forwards, inPageNavToRight 0.3s linear 4s forwards
}
.navTheme-line.initialized:hover:not(.is-ready) {
  -webkit-animation-play-state: paused;
  animation-play-state: paused
}
.navTheme-line.initialized ul li a {
  font-size: 14px;
  line-height: 14px
}
.navTheme-line.initialized ul li a:hover,
.navTheme-line.initialized ul li a:focus {
  background-color: #1a1a24;
  color: #ffe600
}
.navTheme-line.initialized.is-touched ul li a:hover {
  background-color: transparent
}
.navTheme-line.is-ready {
  -webkit-animation: none;
  animation: none;
  opacity: 1
}
@media only screen and (min-width:900px) {
  .navTheme-line.is-ready {
    right: -147px
  }
}
@media only screen and (max-width:899px) {
  .navTheme-line.is-ready {
    right: 0
  }
}
@media only screen and (min-width:900px) {
  .navTheme-line.is-ready.is-visible {
    -webkit-transform: translate(-147px, -50%);
    transform: translate(-147px, -50%);
    -webkit-transition: -webkit-transform 0.2s 0.4s;
    transition: -webkit-transform 0.2s 0.4s;
    transition: transform 0.2s 0.4s;
    transition: transform 0.2s 0.4s, -webkit-transform 0.2s 0.4s
  }
  .navTheme-line.is-ready.is-visible:not(.is-active) ul li a {
    background-color: transparent;
    color: white
  }
  .navTheme-line.is-ready.is-visible:not(.is-active) ul li.is-dark a {
    color: #2e2e38
  }
  .navTheme-line.is-ready.is-visible:not(.is-active) ul li.is-active a {
    background-color: #1a1a24;
    color: #ffe600
  }
  .navTheme-line.is-ready.is-visible:not(.is-active) ul li.is-active a::before {
    background-color: #ffe600;
    width: 16px;
    margin-left: 0
  }
}
@media only screen and (min-width:900px) {
  .navTheme-line.is-ready.is-active {
    -webkit-transform: translate(-147px, -50%);
    transform: translate(-147px, -50%);
    -webkit-transition: -webkit-transform 0.2s 0.4s;
    transition: -webkit-transform 0.2s 0.4s;
    transition: transform 0.2s 0.4s;
    transition: transform 0.2s 0.4s, -webkit-transform 0.2s 0.4s
  }
  .navTheme-line.is-ready.is-active ul li {
    padding: 1px 0
  }
  .navTheme-line.is-ready.is-active ul li.is-active a,
  .navTheme-line.is-ready.is-active ul li.is-active.is-dark a {
    color: #fff
  }
  .navTheme-line.is-ready.is-active ul li.is-active a:hover,
  .navTheme-line.is-ready.is-active ul li.is-active a:focus,
  .navTheme-line.is-ready.is-active ul li.is-active.is-dark a:hover,
  .navTheme-line.is-ready.is-active ul li.is-active.is-dark a:focus {
    background-color: #1a1a24;
    color: #ffe600
  }
  .navTheme-line.is-ready.is-active ul li.is-active a::before,
  .navTheme-line.is-ready.is-active ul li.is-active.is-dark a::before {
    background-color: white;
    width: 16px;
    margin-left: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
  }
  .navTheme-line.is-ready.is-active ul li.is-active a:hover::before,
  .navTheme-line.is-ready.is-active ul li.is-active.is-dark a:hover::before {
    background-color: #ffe600
  }
  .navTheme-line.is-ready.is-active ul li.is-active.is-dark a {
    color: #2e2e38
  }
  .navTheme-line.is-ready.is-active ul li.is-active.is-dark a:hover,
  .navTheme-line.is-ready.is-active ul li.is-active.is-dark a:focus {
    color: #ffe600
  }
  .navTheme-line.is-ready.is-active ul li.is-active.is-dark a::before {
    background-color: #2e2e38
  }
  .navTheme-line.is-ready.is-active ul li.is-active.is-dark a:hover::before,
  .navTheme-line.is-ready.is-active ul li.is-active.is-dark a:focus::before {
    background-color: #ffe600
  }
  .navTheme-line.is-ready.is-active ul li a {
    font-size: 14px;
    line-height: 14px
  }
  .navTheme-line.is-ready.is-active ul li a:hover,
  .navTheme-line.is-ready.is-active ul li a:focus {
    background-color: #1a1a24;
    color: #ffe600
  }
  .navTheme-line.is-ready.is-active ul li a:hover::before,
  .navTheme-line.is-ready.is-active ul li a:focus::before {
    background-color: #ffe600;
    width: 16px;
    margin-left: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
  }
}
.navTheme-line.is-ready:not(.is-active) ul li {
  padding: 0
}
@media only screen and (min-width:900px) {
  .navTheme-line.is-ready:not(.is-active) ul li.is-active:not(.is-visited) {
    -webkit-animation: slideNavItem 2.5s linear 1 forwards;
    animation: slideNavItem 2.5s linear 1 forwards
  }
}
.navTheme-line ul {
  width: 180px;
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none
}
@media only screen and (max-width:899px) {
  .navTheme-line ul {
    width: 100%;
    background-color: #1a1a24;
    -webkit-transition: height 0.2s;
    transition: height 0.2s
  }
}
@media only screen and (min-width:900px) {
  .navTheme-line ul li {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    padding: 5px 0;
    -webkit-transition: padding 0.2s 0.3s, -webkit-transform 0.2s;
    transition: padding 0.2s 0.3s, -webkit-transform 0.2s;
    transition: transform 0.2s, padding 0.2s 0.3s;
    transition: transform 0.2s, padding 0.2s 0.3s, -webkit-transform 0.2s
  }
}
@media only screen and (max-width:899px) {
  .navTheme-line ul li {
    border-top: 1px solid #2e2e38
  }
  .navTheme-line ul li:first-child {
    border-top-color: transparent
  }
}
.navTheme-line ul li.is-active a {
  color: #ffe600;
  -webkit-animation: changeBg 2.5s linear 1;
  animation: changeBg 2.5s linear 1
}
.navTheme-line ul li.is-active a::before {
  background-color: #ffe600
}
.navTheme-line ul li.is-active a:hover::before {
  background-color: #ffe600
}
.navTheme-line ul li.is-visited.is-active a::before {
  width: 32px;
  margin-left: -16px;
  background-color: #fff;
  -webkit-transition: width 0.3s, margin-left 0.3s;
  transition: width 0.3s, margin-left 0.3s
}
@media only screen and (min-width:900px) {
  .navTheme-line ul li.is-dark a {
    color: #2e2e38
  }
  .navTheme-line ul li.is-dark a::before {
    background-color: #2e2e38
  }
  .navTheme-line ul li.is-dark.is-active a {
    color: #ffe600
  }
  .navTheme-line ul li.is-dark.is-active a::before {
    background-color: #ffe600
  }
  .navTheme-line ul li.is-dark.is-active.is-visited {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  .navTheme-line ul li.is-dark.is-active.is-visited a::before {
    background-color: #2e2e38;
  }
}
.navTheme-line ul li a {
  text-align: left;
  display: block;
  width: 100%;
  position: relative;
  padding: 13px 13px 13px 46px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  font-weight: 400;
  background-color: transparent;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s
}
@media only screen and (max-width:899px) {
  .navTheme-line ul li a {
    padding: 14px 44px
  }
}
.navTheme-line ul li a::before {
  content: '';
  width: 16px;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  margin-left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: white;
  -webkit-transition: background-color 0.3s, width 0.3s, margin-left 0.3s;
  transition: background-color 0.3s, width 0.3s, margin-left 0.3s
}

@media only screen and (max-width:899px) {
  .navTheme-line ul li a::before {
    display: none
  }
}

@-webkit-keyframes inPageNavToRight {
  0% {
    right: 0
  }
  100% {
    right: -147px
  }
}

@keyframes inPageNavToRight {
  0% {
    right: 0
  }
  100% {
    right: -147px
  }
}

@-webkit-keyframes slideNavItem {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  25% {
    -webkit-transform: translateX(-145px);
    transform: translateX(-145px)
  }
  50% {
    -webkit-transform: translateX(-145px);
    transform: translateX(-145px)
  }
  75% {
    -webkit-transform: translateX(-145px);
    transform: translateX(-145px)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes slideNavItem {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  25% {
    -webkit-transform: translateX(-145px);
    transform: translateX(-145px)
  }
  50% {
    -webkit-transform: translateX(-145px);
    transform: translateX(-145px)
  }
  75% {
    -webkit-transform: translateX(-145px);
    transform: translateX(-145px)
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
.fp-tooltip.fp-right {
  display: none;
}
