@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

.container-fluid{
    .row{
        .pagewrapper{
            background-color: #000E17;
            background-size: 100% 100%;
            height: 822px;
            width: 100%;
        }

        .sectionwrapper {
            position: absolute;
            height: 90%;
            width: 93%;
            top: 90px;
            border-right: 1px solid rgba(255, 255, 255, .5);

            .top-container{
                display: flex;
                justify-content: flex-end;


                .line{
                    background-color: #ffffff;
                    width: 0.2rem;
                    height: 11rem;
                    margin-right: 0.5rem;
                    margin-top: 2rem;
                }

                .textcontainer{
                    display: flex;
                    justify-content: left;
                    align-items: center;

                    .lefttext{

                        .text1{
                            color: #ffffff;
                            @include headerfontoswaldBold;
                            text-align: left;
                            margin: 0;
                            line-height: 100px;
                            font-size: 200px;
                            font-weight: bolder;
                            margin-top: 3rem;
                        }
                    }

                    .righttext{
                        display: flex;
                        flex-direction: column;
                        justify-content: left;

                        .clockbox{
                            display: flex;
                            justify-content: flex-start;
                            margin-top: 3rem;
                            color: #ffffff;
                        }

                        .text1{
                            font-family: Poppins;
                            color: #ffffff;
                            font-size: 26px;
                            font-weight: bolder;
                            text-align: left;
                            margin-left: 0.5rem;
                            line-height:40px;
                        }

                        .text2{
                            font-family: Helvetica;
                            color: #ffffff;
                            font-size: 45px;
                            font-weight: bolder;
                            text-align: left;
                            margin-left: 0.5rem;
                            line-height:40px;
                        }
                    }
                }
            }

            .left-container{
                position: absolute;
                top: 90px;
                left: 3rem;

                .text1{
                    @include headerfontoswaldBold;
                    color: #FA9400;
                    margin: 0;
                    text-align: left;
                    font-size: 56px;
                    line-height: 65px;
                    width: 800px;
                }
            }

            .bottom-container{
                img{
                    width: 1200px;
                    height: 588px;
                }
            }
        }
    }
}

