<div class="container-fluid">
    <div class="row">
        <div class="pagewrapper">
            <div class="sectionwrapper">
                <div class="col-lg-12 col-md-12 col-sm-12 top-container">
                    <div class="left">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>