<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section">
    <app-home></app-home>
  </div>
  <div class="section">
    <div class="slide" data-anchor="firstPage">
      <app-home2></app-home2>
    </div>
    <!--    <div class="slide" data-anchor="slide2">Two 2</div>-->
  </div>
  <div class="section">
    <app-home3></app-home3>
  </div>
  <div class="section">
    <div class="slide" data-anchor="firstPage">
      <app-home4></app-home4>
    </div>
  </div>
  <div class="section">
    <app-home4part2></app-home4part2>
  </div>
  <div class="section">
    <app-home5></app-home5>
  </div>
  <div class="section">
    <app-home6></app-home6>
  </div>
  <div class="section">
    <app-home7></app-home7>
  </div>
  <div class="section">
    <app-home8></app-home8>
  </div>
  <div class="section">
    <app-home9></app-home9>
  </div>
</div>

