#fullpage {
  text-align: center;
  font-size: 3em;
  padding: 0 !important;

  .section {
    h1 {
      text-align: center;
      color: white;
      font-size: 3.5em;
      text-transform: uppercase;
    }

    h2 {
      text-align: center;
      color: white;
      font-size: 2.5em;
    }
  }
}

.fullpage-wrapper {
  width: 100% !important;
  transform: none !important;

  .fp-section {
    &.active {
      visibility: visible;
      opacity: 1;
      z-index: 1;
    }

    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all .7s ease-in-out;

    .fp-slidesContainer {
      width: 100% !important;
      transform: none !important;

      .fp-slide {
        &.active {
          visibility: visible;
          opacity: 1;
          z-index: 1;
        }

        width: 100% !important;
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 0;
        transition: all .9s ease-in-out;
      }
    }
  }
}
