@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Black/Poppins-Black.woff2') format('woff2'),
        url('/assets/fonts/Poppins/Black/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Extra Bold/Poppins-ExtraBold.woff2') format('woff2'),
        url('/assets/fonts/Poppins/Extra Bold/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Bold/Poppins-Bold.woff2') format('woff2'),
        url('/assets/fonts/Poppins/Bold/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Medium/Poppins-Medium.woff2') format('woff2'),
        url('/assets/fonts/Poppins/Medium/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/SemiBold/Poppins-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/Poppins/SemiBold/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Regular/Poppins-Regular.woff2') format('woff2'),
        url('/assets/fonts/Poppins/Regular/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Light/Poppins-Light.woff2') format('woff2'),
        url('/assets/fonts/Poppins/Light/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// helvetica
@font-face {
    font-family: 'Helvetica';
    src: url('assets/fonts/helevetica/Helvetica-Bold.woff2') format('woff2'),
        url('assets/fonts/helevetica/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  