@mixin floatLeft {
  float: left;
}

@mixin floatRight {
  float: right;
}

@mixin fullSize {
  width: $fullWidth;
  height: $fullHeight;
}

@mixin centerAlign {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

@mixin centerAlignY {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

@mixin closeButton {
  &:before {
    background: none;
    content: "\274c";
    font-size: 18px;
    color: $colorGray40;
    right: 15px;
    position: absolute;
    top: 8px;
    cursor: pointer;
  }
}

@mixin crossMark {
  background: none;
  content: "\274c";
  font-size: 16px;
  color: $colorTertiaryRed;
  height: 15px;
  left: -22px;
  position: absolute;
  top: -3px;
  width: 15px;
}

@mixin tickMark {
  background: none;
  content: "\2714";
  font-size: 20px;
  color: $colorTertiaryLightGreen;
  height: 15px;
  left: -22px;
  position: absolute;
  top: -7px;
  width: 15px;
}

@mixin underlineFromLeft {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #f68d2e;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover,
  &:hover:before,
  &:focus:before,
  &:active:before {
    right: 0;
    cursor: pointer;
  }
}

@mixin grayscale {
  filter: grayscale(100%);
}

@mixin noInteraction {
  pointer-events: none;
}

@mixin timeAuditTable {
  border-collapse: collapse;
}

@mixin headerfontoswaldBold {
  font-family: Oswald;
  font-weight: bold;
  font-size: 54px;

}
@mixin headerfontlato {
  font-family: Lato;
  font-weight: normal;
  font-size: 26px;
}

