$colorWhite: #ffffff;
$colorLogoPrime: #ff8100;
$colorBlack: #000000;

$fontSizeMicro: 10px;
$fontSizeMini: 14px;
$fontSizeStandard: 16px;
$fontSizeMidium: 18px;
$fontSizeLarge: 20px;
$fontSizeExtraLarge: 24px;
$fontSizeBitLarger: 25px;
$headerFontSize: 36px;
$fontSizeLargest: 42px;
$fullWidth: 100%;
$fullHeight: 100%;
$animSpeed: 0.3s;
$animSpeed1: 0.8s;
